[class^="flex:"] {
  display: flex;
}

[class*=" flex:"] {
  display: flex;
}

.flex\:wrap {
  flex-wrap: wrap;
}

@each $size_name, $size in $sizes_no_auto {
  .flex\:row-#{$size_name} {
    flex-direction: row;
    gap: #{$size};
  }
}

.flex\:center {
  align-items: center;
  justify-content: center;
}

.flex\:row {
  flex-direction: row;
}

.flex\:row-auto {
  flex-direction: row;
  justify-content: space-between;
}

@each $size_name, $size in $sizes_no_auto {
  .flex\:row-#{$size_name} {
    flex-direction: row;
    gap: #{$size};
  }
}

.flex\:row {
  &.flex\:center-x {
    justify-content: center;
  }

  &.flex\:center-y {
    align-items: center;
  }

  &.flex\:baseline {
    align-items: baseline;
  }

  &.flex\:stretch {
    align-items: stretch;
  }
}

@each $size_name, $size in $sizes {
  .flex\:row-#{$size_name} {
    &.flex\:center-x {
      align-items: center;
    }

    &.flex\:center-y {
      justify-content: center;
    }

    &.flex\:baseline {
      justify-content: baseline;
    }

    &.flex\:stretch {
      justify-content: stretch;
    }

    &.flex\:stretch {
      align-items: stretch;
    }
  }
}

.flex\:col {
  flex-direction: column;
}

.flex\:col-auto {
  flex-direction: column;
  justify-content: space-between;
}

@each $size_name, $size in $sizes_no_auto {
  .flex\:col-#{$size_name} {
    flex-direction: column;
    gap: #{$size};
  }
}

.flex\:col {
  &.flex\:center-x {
    align-items: center;
  }

  &.flex\:center-y {
    justify-content: center;
  }

  &.flex\:baseline {
    justify-content: baseline;
  }

  &.flex\:stretch {
    justify-content: stretch;
  }
}

@each $size_name, $size in $sizes {
  .flex\:col-#{$size_name} {
    &.flex\:center-x {
      align-items: center;
    }

    &.flex\:center-y {
      justify-content: center;
    }

    &.flex\:baseline {
      justify-content: baseline;
    }

    &.flex\:stretch {
      align-items: stretch;
    }
  }
}
